.even-row {
    background-color: lightgray;
    border-width:  2px solid black;
}

.odd-row {
    background-color: white;
    border-width:  2px solid black;
}

.state {
    margin-left: 10px;
    border-width:  1px solid #d0d5d9;
}

.capital {
    background-color: pink;
    border-width:  1px solid #d0d5d9;
}